@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --black: #181A1C;
    --white: #FDFDFD;
    --gray: #707070;
    --dark-white: #F1F3F4;
    --green: #5CF7AF;
    --orange: #FC9347;
}

.bg-black{
    background-color: var(--black) !important;
}
.bg-gray{
    background-color: var(--gray) !important;
}
.bg-white{
    background-color: var(--white) !important;
}
.bg-dark-white{
    background-color: var(--dark-white) !important;
}
.bg-green{
    background-color: var(--green) !important;
}
.bg-orange{
    background-color: var(--orange) !important;
}
.black{
    color: var(--black) !important;
}
.gray{
    color: var(--gray) !important;
}
.white{
    color: var(--white) !important;
}
.dark-white{
    color: var(--dark-white) !important;
}
.green{
    color: var(--green) !important;
}
.orange{
    color: var(--orange) !important;
}

.font-13{
    font-size: 13px !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: 600;
}

a,p,span,h1,h2,h3,h4,h5,b,ul,li{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    background-color: var(--white);
    margin-top: 75px;
}
header{
    position: fixed;
    height: 75px;
    top: 0;
    left: 0;
    width: 100%;
}
footer{
    background: var(--black);
    color: var(--white);
}

.container-principal{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.logo{
    width: 205px;
    height: auto;
}

.image{
    width: 210px;
    height: 210px;
    background-position: center;
    background-size: cover;
}
.image-user{
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
}

.container-imagens{
    height: 380px;
    position: relative;
}
.bot{
    position: relative;
    top: 100px;
}
.bot-bot{
    position: relative;
    top: 150px;
}

.sub-title{
    font-size: 25px;
    font-weight: 600;
}
.texto{
    font-size: 15px;
}
.mini-title{
    font-size: 15px;
    font-weight: 600;
}

.traco{
    width: 56px;
    height: 2px;
    background: var(--black);
    margin: 3px 0;
}

.text-effect{
    padding: 40px 0;
}

.effect{
    position: absolute;
    background: var(--green);
    width: 76px;
    height: 100%;
    z-index: -1;
    top: 0;
    left: -20px;
    border-radius: 2px;
}

.btn-menu-reverse{
    background-color: var(--black);
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color .2s ease-in-out;
}
.btn-menu{
    background-color: var(--white);
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color .2s ease-in-out, background .2s ease-in-out;
}
.btn-menu:hover{
    background-color: var(--green);
    color: initial;
}
.btn-menu-reverse:hover{
    color: var(--green);
}

.form-control{
    border-radius: 25px;
}

.row{
    --bs-gutter-x: 0;
}